*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea/*
*.swp
*Gemfile.lock
.DS_Store
.gradle/
archive*
build/*
.phabricator-comment
*.pyc
node_modules/
rubocop.html
tags
.fingerprint
BUILD_DETAILS